{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>EAT.RIDE.EASY</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <!--<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' rel='stylesheet' type='text/css'>-->
        <link rel="stylesheet" href="{% static 'css/fonticons.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/stylesheet.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/w3.css' %}">
        <!--        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css">-->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="{% static 'css/plugins.css' %}" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />

        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>
    <body data-spy="scroll" data-target="#navmenu">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

		
		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <!--Home page style-->

        <header id="main_menu" class="header navbar-fixed-top">            
            <div class="main_menu_bg">
                <div class="container">
                    <div class="row">
                        <div class="nave_menu">
                            <nav class="navbar navbar-default" id="#navmenu">
                                <div class="container-fluid">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header ">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a class="nav navbar-nav navbar-left " href="#home">
                                            <h2 class="font-color">Eat.Ride.Easy</h2>
                                        </a>
                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->



                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                        <ul class="nav navbar-nav navbar-right">
                                            <li><a href="#home">Home</a></li>
                                            <li><a href="#about">About</a></li>
                                            <li><a href="#howitwork">Choose Your Appetite</a></li>
                                            <li><a href="#bigidea">Journey Start</a></li>
                                            
                                        </ul>
                                    </div>

                                </div>
                            </nav>
                        </div>	
                    </div>

                </div>

            </div>
        </header> <!--End of header -->



        <section id="home" class="home">
            <div class="home_overlay">
                <div class="container">
                    <div class="row">
                        <div class="main_slider_area">
                            <div class="slider">
                                <div class="single_slider">
                                    <h2>Fitness with Bike <span>/</span></h2>
                                    <p>Yes you can  <span class="slash">/</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End of Banner Section -->


        <section id="about" class="about">
            <div class="container">
                <div class="row">
                    <div class="main_about_area">
                        <div class="features_area">
                            <div class="col-sm-3">
                                <div class="single_features">
                                    <div class="feature_icon"><i class="lnr lnr-cloud"></i></div>
                                    <h2>Carefree</h2>
                                    <p>Enjoy your ride on the road. We’ll suggest where to eat for you.</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="single_features">
                                    <div class="feature_icon"><i class="lnr lnr-cloud"></i></div>
                                    <h2>Supportive</h2>
                                    <p>Get tired while riding up the hills? We can keep you accompany with music on the way.</p>
                                    
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="single_features">
                                    <div class="feature_icon"><i class="lnr lnr-cloud"></i></div>
                                    <h2>Motivated</h2>
                                    <p>Recording your journey with the graph, keep your speed and distance record visualized. </p>
                                    
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="single_features">
                                    <div class="feature_icon"><i class="lnr lnr-cloud"></i></div>
                                    <h2>Real-time</h2>
                                    <p>Where ever you go, all the records and suggestions displayed on a real-time basis.</p>
                                    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="row">
                    <div class="first_fitness_area">
                        <div class="col-sm-4 no-padding">
                            <div class="single_left_first_fitness text-center">
                                <div class="left_first_fitness_heading">
                                    <h5>It’s All About</h5>
                                    <h3>the Journey</h3>
                                </div>
                                <div class="left_first_fitness_icon">
                                    <i class="lnr lnr-drop"></i>
                                </div>
                                <div class="left_first_fitness_content">
                                    <p>In the journey of riding, you’ll see all the interesting people and ride passe through a rich variety of scenery.  All you need to do is enjoy the journey.  We’ll take care of the rest.</p>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 no-padding">
                            <div class="single_right_first_fitness">
                                <div class="single_right_first_fitness_img">
                                    <img src="{% static 'images/ftnes13.jpg' %}" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" >
                    <div class="first_fitness_area">

                        <div class="col-sm-8 no-padding">
                            <div class="single_right_first_fitness">
                                <div class="single_right_first_fitness_img">
                                    <img src="{% static 'images/ftnes10.jpg' %}" alt="" />
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-4 no-padding">
                            <div class="single_left_first_fitness text-center">
                                <div class="left_first_fitness_heading">
                                    <h5>Side By Side</h5>
                                    <h3>Enjoy Your Ride</h3>
                                </div>
                                <div class="left_first_fitness_icon">
                                    <i class="lnr lnr-drop"></i>
                                </div>
                                <div class="left_first_fitness_content">
                                    <p>We follow your route and keep your appetite in mind. During the journey, we will record the route, speed, and distance for you. Also with your heart rate on tracking, reminding you of a safe ride.</p>
                                    
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>

        <section id="summer" class="summer">
            <div class="container">
                <div class="row" id="howitwork">
                    <div class="main_summer_area">
                        <div class="single_summer">
                            <div class="col-sm-4 no-padding">
                                <div class="single_summer_item">
                                    <div class="single_summer_item_img">
                                        <img src="{% static 'images/drink.jpg' %}" alt="" />
                                    </div> 
                                    <div class="single_summer_item_left_content">
                                        <h5>Track Your</h5>
                                        <h3>Appetite</h3>
                                        <p>Choose the picture of food that you like. Show us what's your favorite cuisine, and we will show you where to eat during the ride. </p>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-sm-8 no-padding">
                                <div class="single_summer_item_right">
<!-- pic matrex -->
                                <div>
                                    {% for img in imgs %}
                                    <div class=" w3-row-padding" >
                                        <div class="w3-col l3 m6 w3-margin-bottom">
                                          <div class="w3-display-container food_img_right ">
                                            <img class="catalog  " src="/static/images/{{img.0}}.JPG" alt="ame_k" >
                                          </div>
                                        </div>
                                      
                                     
                                        <div class="w3-col l3 m6 w3-margin-bottom ">
                                          <div class="w3-display-container food_img_right">
                                            <img class="catalog " src="/static/images/{{img.1}}.JPG" alt="" >
                                          </div>
                                        </div>
                                                                         
                                        <div class="w3-col l3 m6 w3-margin-bottom">
                                          <div class="w3-display-container food_img_right">
                                            <img class="catalog " src="/static/images/{{img.2}}.JPG" alt="" >
                                          </div>
                                        </div>
                                       
                                        <div class="w3-col l3 m6 w3-margin-bottom">
                                          <div class="w3-display-container food_img_right">
                                            <img class="catalog" src="/static/images/{{img.3}}.JPG" alt="" >
                                          </div>
                                        </div>
                                      </div>
                                    {% endfor %}
<!-- pic matrex stop -->
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="bigidea" class="bigidea">
            <div class="container">
                <div class="row">
                    <div class="main_bigidea_area">
                        <h2>We follow you wherever you go</h2>
                        <p>Let's start our journey</p>
                        
                        
                        
                        <div class="single_bottom_widget">
                                <div class="form-group">
                                    <a href="/motion/">
                                <button type="submit" class="form-control">Journey Start<i class="lnr lnr-chevron-right"></i></button>
                                    </a>
                                </div>
                            </div>
                        
                        
                        
                        
                    </div>
                </div>
            </div>
        </section>



        <footer id="footer" class="footer">
            <div class="container">
                <div class="row">



                    <div class="main_footer text-center">
                        <p>Made with <i class="fa fa-heart"></i> by <a >BB104 Group3</a>2018. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </footer><!-- End of footer section -->

        <!-- STRAT SCROLL TO TOP -->

        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>

        <script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/vendor/isotope.min.js' %}"></script>

        <script src="{% static 'js/jquery.easypiechart.min.js' %}"></script>
        <script src="{% static 'js/jquery.mixitup.min.js' %}"></script>
        <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<!--
        <script src="http://maps.google.com/maps/api/js"></script>
        <script src="{% static 'js/gmaps.min.js' %}"></script>
-->
<!--
        <script>
            var map = new GMaps({
                el: '.map',
                scrollwheel: false,
                lat: -12.043333,
                lng: -77.028333
            });
        </script>
-->

        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

    </body>
</html>
